{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-10">
        <h3>Listagem de Clientes</h3>
        <hr/>
        <table class="table table-bordered table-striped">
            <thead class="thead-default" style="background-color: #e6f2ff">
                <tr>
                    <th>
                        <h4>Nome</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td class="col-md-11">
                        {{cliente.nome}}
                    </td>
                    <td class="col-md-1">
                        <a  href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a  href="{% url 'deletarcliente' pk=cliente.pk%}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <a class="btn btn-info" role="button" href="{% url 'addclientes' %}">Adicionar Clientes</a>
    </div>
</div>
{% endblock content %}