{% extends 'base.html' %} {% block content %}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-10">
            {% csrf_token %} {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %} {% for field in form %}
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{field}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" role="button" href="{% url 'addclientes' %}">Adicionar Clientes</a>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr/>
        <table class="table table-bordered table-striped">
            <thead class="thead-default" style="background-color: #BEBEBE">
                <tr>
                    <th>
                        <h4><i>Nome</i></h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td class="col-md-11">
                        {{cliente.nome}}
                    </td>
                    <td class="col-md-1">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'deletarcliente' pk=cliente.pk%}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}