{% extends 'base.html' %} {% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="row">
        <div class="col-md-6">
            {% for error in formfilter.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %} {% for field in formfilter %}
            <div class="form-group">
                {{field}}
            </div>
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <button class="btn btn-info" name='Filtrar' type="submit">Filtrar</button>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" role="button" href="{% url 'addclientes' %}">Adicionar Clientes</a>
        </div>
    </div>
    <div class="row">
        <hr/>{{ formset.management_form }}
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                {% for form in formset.forms %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% if forloop.first %}
                <thead class="thead-default" style="background-color: #BEBEBE">
                    {%for field in form.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                {% endif %}
                    <tr>
                        <td>
                          <a href='{{form.registro.value}}'>  {{ form.nome}} </a>
                        </td>
                        <td>
                            {{ form.DELETE}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <button class="btn btn-info" name='Deletar' type="submit">Deletar</button>
        </div>
    </div>
</form>
{% endblock content %}